body{
    margin: 0 auto;
    background: hsl(0, 0%, 95%);
    font-size: 15px;
}
h1{
    font-family: 'Big Shoulders Display', cursive;
    margin: 1.5rem;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
}
p{
    font-family: 'Lexend Deca', sans-serif;
    margin: 1.5rem;
    margin-bottom: 7rem;
    color: hsla(0, 0%, 100%, 0.75)

}
.container-cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
   justify-content: center;
   
}
.card-1{
    background: hsl(31, 77%, 52%);
    width: 300px;
    height: 450px;
    border-radius: 1rem 0 0 1rem;  
}
.card-2{
    background: hsl(184, 100%, 22%);
    width: 300px;
    height: 450px;
}
.card-3{
    background: hsl(179, 100%, 13%);
    width: 300px;
    height: 450px;
    border-radius: 0 1rem 1rem 0 ;
}
img{
    margin-top: 1.5rem;
    margin-left: 1.5rem;

}
.button{
    text-decoration: none;    
    margin-left: 1.5rem;
    background-color: hsl(0, 0%, 95%);
    border-radius: 3rem;
    padding: 1rem;
    font-family: 'Lexend Deca', sans-serif;
    color: black;
}
.card-1 a{
    color: hsl(31, 77%, 52%);
}
.card-2 a{
    color: hsl(184, 100%, 22%);
}
.card-3 a{
    color: hsl(179, 100%, 13%);
}




